In [8]:

import pandas as pd
import numpy as np
from sklearn import ensemble, feature_extraction, preprocessing
import matplotlib.pyplot as plt

In [19]:
train = pd.read_csv('train.csv', index_col='id')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sampleSubmission.csv')

In [25]:
#train.info()
#train.head(100)
#train.dtypes()
#train.describe()
test.describe()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,...,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000
mean,72184.500000,0.386201,0.263597,0.899819,0.780727,0.071498,0.026439,0.200169,0.667378,1.035271,...,0.074989,0.538485,1.128782,0.405249,0.875526,0.473284,0.814010,0.271161,0.388348,0.132675
std,41675.596169,1.468882,1.261908,2.949106,2.846181,0.428568,0.228354,1.069235,2.286832,3.548618,...,1.288595,1.906121,2.682511,1.631566,2.090288,1.617853,4.603653,2.073627,1.006935,1.302695
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36092.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,72184.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,108276.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,144368.000000,64.000000,45.000000,84.000000,82.000000,14.000000,11.000000,44.000000,100.000000,47.000000,...,132.000000,56.000000,73.000000,54.000000,37.000000,62.000000,119.000000,74.000000,22.000000,91.000000

In [23]:
#print train['target']
targets = pd.get_dummies(train.target.values)
print targets

       Class_1  Class_2  Class_3  Class_4  Class_5  Class_6  Class_7  Class_8  \
0            1        0        0        0        0        0        0        0
1            1        0        0        0        0        0        0        0
2            1        0        0        0        0        0        0        0
3            1        0        0        0        0        0        0        0
4            1        0        0        0        0        0        0        0
5            1        0        0        0        0        0        0        0
6            1        0        0        0        0        0        0        0
7            1        0        0        0        0        0        0        0
8            1        0        0        0        0        0        0        0
9            1        0        0        0        0        0        0        0
10           1        0        0        0        0        0        0        0
11           1        0        0        0        0        0        0        0
12           1        0        0        0        0        0        0        0
13           1        0        0        0        0        0        0        0
14           1        0        0        0        0        0        0        0
15           1        0        0        0        0        0        0        0
16           1        0        0        0        0        0        0        0
17           1        0        0        0        0        0        0        0
18           1        0        0        0        0        0        0        0
19           1        0        0        0        0        0        0        0
20           1        0        0        0        0        0        0        0
21           1        0        0        0        0        0        0        0
22           1        0        0        0        0        0        0        0
23           1        0        0        0        0        0        0        0
24           1        0        0        0        0        0        0        0
25           1        0        0        0        0        0        0        0
26           1        0        0        0        0        0        0        0
27           1        0        0        0        0        0        0        0
28           1        0        0        0        0        0        0        0
29           1        0        0        0        0        0        0        0
...        ...      ...      ...      ...      ...      ...      ...      ...
61848        0        0        0        0        0        0        0        0
61849        0        0        0        0        0        0        0        0
61850        0        0        0        0        0        0        0        0
61851        0        0        0        0        0        0        0        0
61852        0        0        0        0        0        0        0        0
61853        0        0        0        0        0        0        0        0
61854        0        0        0        0        0        0        0        0
61855        0        0        0        0        0        0        0        0
61856        0        0        0        0        0        0        0        0
61857        0        0        0        0        0        0        0        0
61858        0        0        0        0        0        0        0        0
61859        0        0        0        0        0        0        0        0
61860        0        0        0        0        0        0        0        0
61861        0        0        0        0        0        0        0        0
61862        0        0        0        0        0        0        0        0
61863        0        0        0        0        0        0        0        0
61864        0        0        0        0        0        0        0        0
61865        0        0        0        0        0        0        0        0
61866        0        0        0        0        0        0        0        0
61867        0        0        0        0        0        0        0        0
61868        0        0        0        0        0        0        0        0
61869        0        0        0        0        0        0        0        0
61870        0        0        0        0        0        0        0        0
61871        0        0        0        0        0        0        0        0
61872        0        0        0        0        0        0        0        0
61873        0        0        0        0        0        0        0        0
61874        0        0        0        0        0        0        0        0
61875        0        0        0        0        0        0        0        0
61876        0        0        0        0        0        0        0        0
61877        0        0        0        0        0        0        0        0

       Class_9
0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
...        ...
61848        1
61849        1
61850        1
61851        1
61852        1
61853        1
61854        1
61855        1
61856        1
61857        1
61858        1
61859        1
61860        1
61861        1
61862        1
61863        1
61864        1
61865        1
61866        1
61867        1
61868        1
61869        1
61870        1
61871        1
61872        1
61873        1
61874        1
61875        1
61876        1
61877        1

[61878 rows x 9 columns]